<%- include header %>
<h3><a href="<%= feeds.responseData.feed.link%>"><%= feeds.responseData.feed.title%></a></h3>
<div class="accordion" id="accordion">
<% feeds.responseData.feed.entries.forEach(function(feed, index){ %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index%>">
        <%= feed.title %>
      </a>
      <small><%= feed.contentSnippet%></small>
    </div>
    <div id="collapse<%= index%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <p class="lead"><a href="<%= feed.link %>"><%= feed.title %></a></p>
	  	<p class="info">
	    Author：<a href="#"><%= feed.author %></a> |
	    PostDate：<%= feed.publishedDate %>
	  	</p>
	  	<p><%- feed.content %></p>
      </div>
    </div>
  </div>
<% }) %>
</div>
<%- include footer %>
